{% extends 'main.html' %}

{% block title %}
    {{ super() }}
    Home
{% endblock %}

{% block content %}
    {% if waiting %}
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div style="text-align: center">
            <h1>{{ "Loading..." }}</h1>
            <p>&nbsp;</p>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <p>&nbsp;</p>
        <div style="text-align: center">
            <small>Nothings gonna appear, too lazy to add content</small>
        </div>
    {% endif %}
    <ul class="nav justify-content-center">
        <form method="post">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <button type="submit" class="btn btn-primary" style="width: 100%">Show Cool stuff</button>
        </form>
    </ul>


{% endblock %}